* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #0b1354;
}

.header h1 {
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 10px;
}

.statistique {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  font-size: 14px; 
}

.statistique div :nth-child(1) {
  font-size: 25px;
  
}

.statistique div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-width: 22%;
}


.budget {
  border: 2px solid #A13670;
  background-color: #ca659c;
  border-radius: 8px;
  color: #4b1031;
}

.depense {
  border: 2px solid #8831c3;
  background-color: #a56eca;
  border-radius: 8px;
  color: #541e78;
}

.ecart {
  border: 2px solid #9a5b2b;
  background-color: #a5836a;
  border-radius: 8px;
  color: #b56324;
}

.saisie {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.saisie div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #12348D;
  background-color: #a9bbea;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.content {
  display: flex;
  margin-top: 30px;
  padding: 10px;
}

.saisie button {
  background-color: #0b1354;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 8px;
}

.list {
  flex-grow: 1;
  margin: 0 10px;
}

.list table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

.list table th:nth-child(1) {
  width: 75%;
}

.list table th, .list table td {
  border: 1px solid #000;
}


.saisie input[type=number] {
  padding: 2px;
  text-align: center;
}
